body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #15202B;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
header {
  font-family: 'hack NF';
  font-size: 20px;
  width: auto;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 5px;
  background-color: #1C2938;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}
form {
  background-color: #1C2938;
  padding: 16px;
  border-radius: 16px;
  max-width: 500px;
  margin: 32px auto;
}
.formInactivo {
  filter: blur(1px);
	opacity: 0.5;
	transition: filter 0.3s ease, opacity 0.3s ease;
  user-select: none;
}
/* .formInactivo.show {
  filter: blur(0);
	opacity: 1;
} */
label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
  color: #FFFFFF;
}
select {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 100%;
  background-color: #192734;
  color: #FFFFFF;
}

button {
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 24px;
  background-color: #1DA1F2;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}
button:hover {
  background-color: #0E71A4;
}
.filter{
  display: none;
}
.btn-regresar {
  background-color: #1DA1F2;
  color: #FFF;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.btn-regresar:hover {
  background-color: #0B7BCA;
}


footer{
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding: 1rem;
  margin: auto;
  color: lightgrey;
}